{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %}


{% load i18n %}
{% block head_title %}{% trans "Search for an Item" %}{% endblock %}

{% block content %}
<!-- the content to enter into the "main" class on the "base.html"-->
<div class="container-fluid" style="height: 100%; ">
    <!-- jQuery is at the bottom of base.html -->
    {% include 'side-nav.html' %}
    {% if user.is_authenticated %}
    <div class="table-holder">
        <div class="table-row table-head">
            <div class="col-4">
                Item
            </div>
            <div class="col-4">
                Category
            </div>
            <div class="col-3">
                Serial
            </div>
            <div class="col-1">
            </div>
        </div>
        {% for item in item_list %}
        <div class="table-row">
            <div class="col-4">{{ item.item_type_name }}</div>
            <div class="col-4">{{ item.item_type_category }}</div>
            <div class="col-3">{{ item.item_serial }}</div>
            <div class="col-1"><a class="button-table-view" href="{% url 'items:item_view' item.pk%}"><i class="fa-solid fa-magnifying-glass"></i></a></div>
        </div>
        {% endfor %}
        {% include 'paginate.html' %}
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            {% blocktrans %}
            <p>You need to be logged in to access the program.</p>
            <p>Log in to continue using this application.</p>
            {% endblocktrans %}
            <a class="button small" href="{{ login_url }}">{% trans "Log In" %}</a>
        </div>
    </div>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}