{% extends "base.html" %}
{% block content %}
{% load static %}
{% load i18n %}


<!-- the content to enter into the "main" class on the "base.html"-->
<div class="container-fluid" style="height: 100%; width:100%;">
    {% include 'side-nav.html' %}
    {% if user.is_authenticated %}
    <div class="content-holder">
        <div class="row">
            <div class="col-4">
                <h2>{{ item.item_type_name }}</h2>
            </div>
            <div class="col-4 item-image-holder">
                {% if "placeholder" in item.item_type.image.url %}
                <img class="item-image" src="{% static 'images/default.webp' %}"
                    alt="placeholder image">
                {% else %}
                <img class="item-image" 
                src="{{ item.item_type.image.url }}"
                alt="{{ item.item_type_name }}">
                {% endif %}
            </div>
            <div class="col-4">
                {% if item.status != 0 %}
                <h2 class="{{ item.item_css_status }}">{{ item.status_str }}</h2>
                {% else %}
                <h2></h2>
                {% endif %}
            </div>
        </div>
        <hr class="renterprise">
        <div class="item_details_container">
            <div class="item_details_container split">
                <div class="row">
                    <p>Item Category : {{ item.item_type_category }}</p>
                </div>
                <div class="row">
                    <p>Item Serial : {{ item.item_serial }}</p>
                </div>
                <hr class="renterprise" style="width:50%">
                <div class="row">
                    <p>Item Income : £{{ item.income }}</p>
                </div>
            </div>
            <div class="item_details_container split-end">
                <div class="row">
                    <p>Upcoming Delivery Date : {{ item.delivery_date }}</p>
                </div>
                <div class="row">
                    <p>Upcoming Collection Date : {{ item.collect_date }}</p>
                </div>
                <div class="row">
                    <p>Repair Started Date : {{ item.repair_date }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="button centre-align" style="width:20%;" href="{% url 'items:item_list' %}">Return To Item List</a>
        </div>        
        {% else %}
        <div class="content-holder centre">
            <div class="row" style="width: 30%;">
                {% blocktrans %}
                <p>You need to be logged in to access the program.</p>
                <p>Log in to continue using this application.</p>
                {% endblocktrans %}
                <a class="button" href="{{ login_url }}">Log In</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<!-- Status change modal -->
<div class="modal fade" id="statusModal" tabindex="-1" z-index="25"
  aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"
          id="modalLabel">Status Change</h3>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="modalBody" class="modal-body">
        Are you sure that you wish to change the status to ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="statusConfirm" href="#" class="btn
          btn-success">Change</a>
      </div>
    </div>
  </div>
</div>
<!-- index.html content ends here -->
{% endblock content %}
{% block extras %}
<script src="{% static 'js/items.js' %}"></script>
{% endblock %}
