{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "View Item Details" %}{% endblock %}
{% block content %}

<!-- the content to enter into the "main" class on the "base.html"-->
<div class="container-fluid" style="height: 100%; width:100%;">
    <!-- jQuery is at the bottom of base.html -->
    {% include 'side-nav.html' %}
    {% if user.is_authenticated %}
    <div class="content-holder">
        <div class="row">
            <h2>{{ item.item_type_name }}</h2>
            {% if "placeholder" in item.item_type.image.url %}
            <img class="item-image" src="{% static 'images/default.webp' %}"
                alt="placeholder image">
            {% else %}
            <img class="item-image" 
            src=" {{ item.item_type.image.url }}"
            alt="{{ item.item_type_name }}">
            {% endif %}
        </div>
        <div class="row">
            <p>Item Category : {{ item.item_type_category }}</p>
        </div>
        <div class="row">
            <p>Item Serial : {{ item.item_serial }}</p>
        </div>
        <div class="row">
            <hr class="renterprise">
        </div>
        <div class="row">
            <p>Upcoming Delivery Date : {{ item.delivery_date }}</p>
        </div>
        <div class="row">
            <p>Upcoming Collection Date : {{ item.collect_date }}</p>
        </div>
        <div class="row">
            <p>Repair Started Date : {{ item.repair_date }}</p>
        </div>
        <div class="row">
            <hr class="renterprise">
        </div>
        <div class="row">
            <p>Item Income : £{{ item.income }}</p>
        </div> 
        <div class="row">
            <a class="button" href="{% url 'items:item_list' %}">Return To Item List</a>
        </div>
    {% else %}
        <div class="row">
            <div class="col-12">
                {% blocktrans %}
                <p>You need to be logged in to access the program.</p>
                <p>Log in to continue using this application.</p>
                {% endblocktrans %}
                <a class="button small" href="{{ login_url }}">{% trans "Log In" %}</a>
            </div>
        </div>
    {% endif %}
    </div>
	
</div>

<!-- index.html content ends here -->
{% endblock %}