{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}{% trans "Create New Order" %}{% endblock %}

{% block content %}

<!-- the content to enter into the "main" class on the "base.html"-->
<div class="container-fluid" style="height: 100%; ">
    {% include 'side-nav.html' %}
    {% if user.is_authenticated %}
    <div class="content-holder" style="display:flex; flex-direction: row;">
        <form id="createOrderForm" method="post"
            style="margin-top: 1.3em; width: 50%;">
            <h2>Create New Order :</h2>
            <hr class="renterprise">
            <div class="order_form_content" style="display: flex; flex-direction: row;">
                <div id="order-form-dates" style="width: 25%; margin-right: 3rem;">
                    {{ order_form.start_date|as_crispy_field }}
                    {{ order_form.end_date|as_crispy_field }}
                </div>
                <div id="order-form-item" style="width: 45%; margin-right: 3rem; display:none;">
                    {{ order_form.item_type_field|as_crispy_field }}
                    {{ order_form.item_field|as_crispy_field }}
                </div>
                <div id="order-form-prices" style="width: 25%; display:none;">
                    <!--id="id_cost_initial"-->
                    {{ order_form.cost_initial|as_crispy_field }}
                    <!--id="id_cost_week"-->
                    {{ order_form.cost_week|as_crispy_field }}
                </div>
                {{ order_form.item_field_hidden }}
                {{ order_form.full_item_hidden }}
                {{ order_form.orders_hidden }}
            </div>
            {% csrf_token %}
            <button id="submitButton" type="submit"
                class="button centre-align">Submit</button>
        </form>
        <div id="available-items" style="width: 50%;">
            <div class="table-row table-head">
                <div class="col-8">
                    <!--serial column-->
                </div>
                <div class="col-4">
                    <!--button column-->
                </div>
            </div>
            
        <!--<div class="col-8">Serial</div>
            <div class="col-4">Button</div>-->
            
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            {% blocktrans %}
            <p>You need to be logged in to access the program.</p>
            <p>Log in to continue using this application.</p>
            {% endblocktrans %}
            <a class="button small" href="{{ login_url }}">{% trans "Log In" %}</a>
        </div>
    </div>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock content %}
{% block extras %}
<script src="{% static 'js/orders.js' %}"></script>
{% endblock %}
