{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %}


{% load i18n %}
{% block head_title %}{% trans "Order List" %}{% endblock %}

{% block content %}
<!-- the content to enter into the "main" class on the "base.html"-->
<div class="container-fluid" style="height: 100%; ">
    {% include "side-nav.html" %}
    {% if user.is_authenticated %}
    <div class="table-holder">
        <div class="centre-heading">
            <h2> View All Orders </h2>
            <hr class="renterprise" style="width:80%;">
        </div>
        <div class="table-row table-head">
            <div class="col-3">
                Customer
            </div>
            <div class="col-4">
                Item
            </div>
            <div class="col-2">
                Delivery Date
            </div>
            <div class="col-2">
                Collection Date
            </div>
            <div class="col-1">
            </div>
        </div>
        {% for order in order_list %}
        <div class="table-row">
            <div class="col-3">{{ order.customer.full_name }}</div>
            <div class="col-4">{{ order.item.item_type_name }}</div>
            <div class="col-2">{{ order.start_date }}</div>
            <div class="col-2">{{ order.end_date }}</div>
            <div class="col-1"><a class="button-table view" href="{% url 'customers:customer_order_view' customer_token=order.customer.customer_token order_id=order.id %}">
                <i class="fa-solid fa-magnifying-glass"></i></a></div>
        </div>
        {% endfor %}
        {% include "paginate.html" %}
    </div>
    {% else %}
    <div class="content-holder centre">
        <div class="row" style="width: 60%;">
            {% blocktrans %}
            <p>You need to be logged in to access the program.</p>
            <p>Log in to continue using this application.</p>
            {% endblocktrans %}
            <a class="button" href="{{ login_url }}">Log In</a>
        </div>
    </div>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}