{% extends "base.html" %}
{% block content %}
{% load static %}
{% load i18n %}

<!-- the content to enter into the "main" class on the "base.html"-->
<div class="container-fluid" style="height: 100%; width:100%;">
    {% include "side-nav.html" %}
    {% if user.is_authenticated %}
    <div class="content-holder">
        <div class="row">
            <div class="col-4">
                <h2>{{ item.item_type_name }}</h2>
            </div>
            <div class="col-4 item-image-holder">
                {% if "placeholder" in item.item_type.image.url %}
                <img class="item-image" src="{% static 'images/default.webp' %}"
                    alt="placeholder image">
                {% else %}
                <img class="item-image" 
                src="{{ item.item_type.image.url }}"
                alt="{{ item.item_type_name }}">
                {% endif %}
            </div>
            <div class="col-4">
            </div>
        </div>
        <hr class="renterprise">
        <div class="order_details_container">
            <div class="item_details_container" style="width:25%">
                <div class="row">
                    <p>Item Category : {{ item.item_type_category }}</p>
                </div>
                <div class="row">
                    <p>Item Serial : {{ item.item_serial }}</p>
                </div>
                <hr class="renterprise" style="width:50%">
                <div class="row">
                    <p>Delivery Date : {{ start_date }}</p>
                </div>
                <div class="row">
                    <p>Collection Date : {{ end_date }}</p>
                </div>
            </div>
            <!-- Order: cost_initial, cost_week,
                 start_date,end_date,created_on -->
            <div class="order_details_container split" style="width:30%">
                <div class="row">
                    <p>Created On : {{ created_on }}</p>
                </div>
                <div class="row">
                    <p>Created By : {{ created_by }}</p>
                </div>
                <hr class="renterprise" style="width:50%">
                <div class="row">
                    <p>Initial Cost : £{{ cost_initial }}</p>
                </div>
                <div class="row">
                    <p>Weekly Cost : {{ cost_week }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a class="button centre-align" href="{% url 'customers:customer_view' customer.customer_token %}">Return To Customer</a>
            </div>
            <div class="col-4">
                <a class="button centre-align" href="{% url 'orders:order_list_customer' customer.customer_token %}">Return To List</a>
            </div>
            <div class="col-4"></div>
        </div>
        {% else %}
        <div class="content-holder centre">
            <div class="row" style="width: 20%;">
                {% blocktrans %}
                <p>You need to be logged in to access the program.</p>
                <p>Log in to continue using this application.</p>
                {% endblocktrans %}
                <a class="button" href="{{ login_url }}">Log In</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<!-- Status change modal -->
<div class="modal fade" id="statusModal" tabindex="-1" z-index="25"
  aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="modalLabel">Status Change</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="modalBody" class="modal-body">
        Are you sure that you wish to change the status to ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="statusConfirm" href="#" class="btn
          btn-success">Change</a>
      </div>
    </div>
  </div>
</div>
<!-- index.html content ends here -->
{% endblock content %}
{% block extras %}
<script src="{% static 'js/items.js' %}"></script>
{% endblock %}
