/* Global Styling */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Hind', sans-serif;
    /* To prevent overlapping border issues!! */
    box-sizing: border-box;
}

/*Smooth entry animation for the webage, it also obscures the transitions on
 other elements jumping on page load.*/
body {
    animation: fadeIn 1s;
    width: 100%;
    height: 100%;
    background-color: #7785AC;
}

main {
    animation: fadeIn 1s;
    width: 100%;
    background-color: #7785AC; 
}

/*button hover animation tutorial from https://www.w3schools.com/howto/howto_css_animate_buttons.asp*/
/*Set a default format for all buttons has an inner glow and drop shadow 
(multiple box shadows) to make it pop out, encouraging a click.*/
.button {
    height: auto;
    border-radius: 15px;
    background-color: #7785AC;
    box-shadow: 5px 5px 10px #C9F0FF inset, 5px 5px 10px #393D3F;
    text-shadow: 0px 1px 5px #000000;
    margin: 15px auto;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 180%;
    padding: 10px;
    cursor: pointer;
}

/* HEADER STYLING */
/*Set colour theme in BG, full page width, set fixed height of 100px, reasonable height on
all formats set to flex row and no left side margin*/
header {
    background-color: #1D5D40;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    box-shadow: 0px 0px 3px 3px rgba(57, 61, 63, 0.8);
}

/* The "a" tag which holds the logo - 100x100px square */
header>a {
    height: 100px;
    width: 100px;
    margin-left: 3%;
}

/* Logo style - Get width from parent ("a" tag) 0 margin within its container (header) 
setting again the min height/width to match the parent and to not let the image go any
smaller, to the point it cannot be seen. Which it will without this setting */
.header-logo {
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
    background-color: #1D5D40;
}

/*Styling the header menu  Width of 85% (remainder in header after logo takes 15%) 
font colour and size set. Set it to be a flex row, and to set the menu items to add into
the page from the end of the row. Use align-items:center to align it vertically*/
.header-menu {
    clear: both;
    width: 85%;
    font-size: 150%;
    height: inherit;
    background-color: #1D5D40;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/*Hidden burger button, which is actually a hidden checkbox.*/
.burger-btn {
    display: none;
}

/*This is a label which is what the user interacts with. Default invisible, 
made visible at a particular screen width resolution in media queries*/
.burger-icon {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px;
    user-select: none;
    visibility: hidden;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 100%;
}

/*turn blue when hovering over the burger menu icon*/
.burger-icon:hover {
    color: #C9F0FF;
}

/*Styling each link in the header menu (each list item). 
 List style type:none means that no bullet points are made.*/
 .header-menu li {
    font-family: 'Hind', sans-serif;
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

/* each <a> (link) within the nav menu has no purple overlay when previously
 clicked (text-decoration) text is white */
.header-menu a {
    text-decoration: none;
    color: #FFFFFF;
}

/* when a header-menu link is hovered, it goes a light blue to signify where 
 the intended click in the menu is */
.header-menu a:hover {
    color: #C9F0FF;
}

/* on each page, there is a selected header-menu item. This item is underlined
 on its respective page */
a.active {
    border-bottom: 1px solid #FFFFFF;
}

/* Footer styling */
/*Full page width, fixed 100px height (height matches header). Flex row display
with centred content and the background colour in line with the theme top shadow 
to help content pop*/
footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1D5D40;
    box-shadow: 0px -3px 1px 0px rgba(57, 61, 63, 0.8);
    margin-top: 25px;
}

/* social-networks ul css set the text to be centre aligned in a flex row 
with centred items*/
ul.social-networks {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/*Each list item of the social networks unorganised list carries the flex 
display has padding (from top and bottom of social networks class, which is the
height of the footer*/
.social-networks>li {
    display: flex;
    padding: 25px;
}

/*styling for the font awesome "i" tags, setting text field size, font colour
line height to create a centring effect*/
.social-networks i {
    font-size: 200%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
}

/*When hovering the social media icons, turn them the light blue which is part
of the theme.*/
.social-networks i:hover {
    color: #C9F0FF;
}