/* Global Styling */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Hind', sans-serif;
    /* To prevent overlapping border issues!! */
    box-sizing: border-box;
}

/* Body style - z index set to be behind the main. This is due to buttons in a tags.
If the z index and position are not set, the body can be over the buttons, 
causing them not to animate on hover*/
body {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #7785AC;
    z-index:-2;
}

/* Main style which is where all content is loaded into */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #7785AC; 
    padding: 1rem 0rem;
    z-index:-1;
    height: 78vh;
}

/* Remove the modal background, which was intercepting the content*/
.modal-backdrop {
    position: unset !important;
}

/* ensures flex on these bootstrap elements */
.container-fluid, .row, div[class*="col-"] {
    display:flex;
} 

.row.wd-60 {
    width:60% !important;
}

.row.wd-5 {
    width:60% !important;
}

.col-5.order-view {
    flex-direction: column;
}

/* H TAG STYLING */
h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
    font-size: 300%;
}

/* h2 & h3 tags are the same as h1 but progressively smaller */
h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
    font-size: 250%;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
    font-size: 120%;
}

/* a general css style to have centre aligned h tags */
/*h1/h2/h3.centre-heading*/
.centre-heading {
    width: 100%;
    display: flex; 
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

/* Default font for p, label and legend. Font is already created globally. Colour
and shadow are added.*/
p,
label,
legend,
li,
ol,
ul {
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
    font-size: larger;
}

/*Need to have black text in the tables otherwise it is illegible*/
.note-row>p {
    color: #000000;
    text-shadow: none;
    font-size: small;
}

/*Then to give the height to stop misplaced notes*/
.note-row {
    height:-webkit-fill-available;
    color: #000000;
    text-shadow: none;
    font-size: small;
}


div.form-floating>label,
.form-float-label {
    color: #000000;
    text-shadow:none;
    font-size: 100%;
}
 

.gbcountyselect {
    color: #000000;
    text-shadow:none;
}

/*Default font for inputs and selects. Font declared globalled. Colour set to black*/
input,
select {
    margin-left: 0.5rem !important;
    color: #000000;
    box-shadow: 0px 0px 4px 0px #000000;

}

/*this is setting the styling for the dropdown of a select menu, so the font is 
smaller than the selected input*/
select>optgroup,
select>optgroup>option {
    margin-left: 0.5rem !important;
    font-size: 85%;
    box-shadow: 0px 0px 4px 0px #000000;
}

/*defaults for the tables. just to set full height and white background.*/

#id_remember {
    box-shadow: 0px 0px 4px 0px #000000;
}

#id_remember, label[for=id_remember] {
    cursor: pointer;
}

/* hr line breaks styling to make it white and have a shadow for sharpness */
hr.renterprise {
    clear: both;
    margin: 1rem 0;
    border: 3px solid #FFFFFF;
    border-radius: 1px;
    opacity: 1;
    box-shadow: 0px 0px 4px 0px #000000;
    width:60%;
}

.customer-token-text {
    display:none;
}



/*Animated CSS button tutorial from
https://www.w3schools.com/howto/howto_css_animate_buttons.asp */

/* BUTTON STYLING */
/*Set a default format for all buttons defined as class="button" not <button>.
- Has (multiple box shadows) to make it pop out.
- Hover darkens the button.
- Click alters the initially lighter shadow to shrink
- Click also lowers the button placement - giving a pressed look */
.button {
    height: auto;
    width: 20%;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #1b9964;
    box-shadow: 0 9px #999999, 5px 5px 10px #393D3F;
    text-shadow: 0px 1px 5px #000000;
    margin: 0.5vw auto;
    border: 1mm groove #1b9964;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.3vw;
    cursor: pointer;
    text-decoration: none;
    display: flex; 
    justify-content: center;
}

.button.wide {
    width: 100%;
}

.button.centre-align {
    display: flex; 
    justify-content: center;
}

.button.left-align {
    display: flex; 
    justify-content: flex-start;
}

.button.red {
    background-color: #FF0000;
    box-shadow: 0 9px #999999, 5px 5px 10px #393D3F;
    text-shadow: 0px 1px 5px #FFFFFF;
    border: 1mm groove #FF0000;
    color: #FFFFFF;
}

.button.order-form {
    height: auto;
    width: 100%;
    font-size: 1.5vw;
}

/* For Crispy Forms to override submit default of bootstrap btn btn-primary*/
.btn.btn-primary.centre-align {
    all:unset;
    height: auto;
    width: 80%;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #1b9964;
    box-shadow: 0 9px #999, 5px 5px 10px #393D3F;
    text-shadow: 0px 1px 5px #000000;
    margin: 0.5vw auto;
    border: 1mm groove #1b9964;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.3vw;
    cursor: pointer;
    text-decoration: none;
    display: flex; 
    justify-content: center;
}

.button.small {
    width: 15%;
    border-radius: 0.5rem;
    background-color: #1b9964;
    box-shadow: 0 9px #999, 5px 5px 10px #393D3F;
    text-shadow: 0px 1px 5px #000000;
    margin: 0.5rem auto;
    font-size: 1vw;
}

.btn.btn-primary.centre-align:hover,
.button:hover {
    background-color: #1D5D40;
    text-decoration: none;
    color: #FFFFFF;
    border: 1mm groove #059755;
    transition: all 0.3s;
}

.button.small:hover {
    background-color: #1D5D40;
    text-decoration: none;
    color: #FFFFFF;
    border: 1mm groove #059755;
    transition: all 0.3s;
}

.btn.btn-primary.centre-align:active,
.button:active {
    background-color: #1D5D40;
    box-shadow: 0 5px #393D3F, 5px 5px 10px #393D3F;
    transform: translateY(4px);
    transition: all 0.2s;
}

.button.red:hover {

    background-color: #640000;
    text-decoration: none;
    color: #FFFFFF;
    border: 1mm groove #e92222;
    transition: all 0.3s;
}

.button.red:active {
    background-color: #640000;
    box-shadow: 0 5px #393D3F, 5px 5px 10px #393D3F;
    transform: translateY(4px);
    transition: all 0.2s;
}
/* HEADER STYLING */

/*Set colour theme in BG, full page width and a shadow at the bottom 
which is over the main/body as their z-indices are minus values.*/
header {
    background-color: #1D5D40;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    z-index: -1; /*ensures modal on top */
    box-shadow: 0px 0px 3px 3px rgba(57, 61, 63, 0.8);
}

/* The "a" tag which holds the logo - 100x100px square */
header>a {
    height: 100px;
    width: 100px;
    margin-left: 3%;
}

/* Placeholder for the logo. Fixed height and width (square logo)*/
.header-logo {
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
    background-color: #1D5D40;
}

/*Styling the header menu which holds the nav buttons (across all pages)
for the user account features (login,logout,view)*/
.header-menu {
    display: flex;
    clear: both;
    width: 90%;
    font-size: 150%;
    text-shadow: 0px 1px 5px #000000;
    justify-content: flex-end;
}
.navigation-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#side-navigation-bar {  
    margin: auto 1rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /*justify-content: center;*/
    /*margin: 0;*/
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    padding: 1rem 0;
    width:350px;
}

#side-navigation-bar>ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    width:100%;
}

.nav.nav-list {
    display:flex;
    flex-direction:column;
}

#collapse-sidebar {
    display:none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    cursor:pointer;
    width:100%;
    padding-right:0;
}

span#menu-text-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
}
#side-menu-text {
    width:100%;
    color:#000000;
    text-shadow:none;
    text-decoration:none;
    padding: 0.5rem 1rem;
    font-size: medium;
}

/*Styling each link in the header menu (each list item). 
 List style type:none means that no bullet points are made.*/
 .header-menu li {
    font-family: 'Hind', sans-serif;
    list-style-type: none;
    margin-right: 30px;
    display: inline;
    font-size: x-large;
}

/* each <a> (link) within the nav menu has no purple overlay when previously
 clicked (text-decoration) text is white */
.header-menu a {
    text-decoration: none;
    color: #FFFFFF;
}

/* when a header-menu link is hovered, it goes a light blue to signify where 
 the intended click in the menu is */
.header-menu a:hover {
    color: #C9F0FF;
}

a.link {
    color: #2cfd9e;
    text-decoration:none;
}

a.link:hover {
    color:inherit;
    text-decoration:underline;
}

.renterprise-alert {
    /*position: fixed;*/
    top: 0;
    left:auto;
    right:auto;
}

/* Footer styling */
/*Full page width, fixed 100px height (height matches header). Flex row display
with centred content and the background colour in line with the theme top shadow 
to help content pop*/
footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1D5D40;
    box-shadow: 0px -3px 1px 0px rgba(57, 61, 63, 0.8);
    align-items: baseline;
}

/* social-networks ul css set the text to be centre aligned in a flex row 
with centred items*/
ul.social-networks {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/*Each list item of the social networks unorganised list carries the flex 
display has padding (from top and bottom of social networks class, which is the
height of the footer*/
.social-networks>li {
    display: flex;
    padding: 25px;
}

/*styling for the font awesome "i" tags, setting text field size, font colour
line height to create a centring effect*/
.social-networks i {
    font-size: 35px;
    height: 40px;
    width: 40px;
    line-height: 50px;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
}

/*When hovering the social media icons, turn them the light blue which is part
of the theme.*/
.social-networks i:hover {
    color: #C9F0FF;
}

/* FORM WARNING RESTYLE FROM ALLAUTH */
.errorlist {
    color: #FF0000;
    font-weight:bold;
    background: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px 0 #FF0000;
}

.errorlist>li {
    color: #FF0000;
    background: #FFFFFF;
    text-shadow:none;
}

/* FOR TABLE LIKE DISPLAY INTERFACE */
.table-holder {
    width: 100%;
    padding-left: 1rem;
    display:flex;
    flex-direction: column;
    justify-content:center;
}

/* This is to ensure the navigation bar is full height */
.container-fluid {
    height:100%
}
/* CONTENT HOLDER FOR DYNAMIC WINDOWS */
.content-holder {
    width: 100%;
    padding: 3rem;
    background: #696969;
    overflow:auto;
}

.content-holder.black {
    width: 100%;
    padding: 3rem;
    background: #000000;
}

/* CONTENT HOLDER CENTRAL */
.content-holder.centre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* CONTENT HOLDER LEFT */
.content-holder.start {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

/* CONTENT HOLDER ORDER CREATE */
.content-holder.order-create {
    display: flex;
    flex-direction: column;
}

.content-holder.order-view {
    display: flex;
    flex-direction: row;
}

.table-row {
    display:flex;
    flex-direction:row !important;
    height:5vh;
    align-items: center;
    padding:1rem;
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;;
}

.table-row.paid {
    /*Paid - invoice*/
    background-color : #1b9964;
    color:#FFFFFF;
    text-shadow: 0px 1px 5px #000000;
}

.table-row.missing {
    /*missing - Item*/
    background-color :#834a00; 
    color:#FFFFFF;
    text-shadow: 0px 1px 5px #FFFFFF;
}

.table-row.sold {
    /*sold - Item */
    background-color : #0066ff;
    color:#FFFFFF;
    text-shadow: 0px 1px 5px #FFFFFF;
}

.table-row.repair {
    /*repair*/
    background-color : #cedd00;
    color : #000000;
    text-shadow: none;
}

.table-row.scrapped, .table-row.deceased {
    /*scrap - Item */
    background-color : #000000;
    color:#FFFFFF;
    text-shadow: 0px 1px 5px #FFFFFF;
}

.table-row.order-table-row {
    align-items: baseline;
}

.table-head {
    background-color: #808080;
    color:#FFFFFF;
    text-shadow: 0px 1px 5px #000000;
}

.table-row:hover:not(:first-child):not(:last-child) {
    background-color: #D3D3D3;;
}

.paginate-foot {
    align-items: center;
    justify-content: center;
}

.paginator-page-text {
    padding: 1rem;
}

.paginate-arrows {
    color:#FFFFFF;
    text-shadow: 0px 1px 5px #000000;
    cursor: pointer;
    padding: 1rem;
}

.paginate-arrows:hover {
    color:#C9F0FF;
}

.button-table {
    width: 2vw;
    height: 2vw;
    min-width:30px;
    min-height:30px;
    max-width:40px;
    max-height:40px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight:bold;
    color:#000000;
    text-shadow:none;
    cursor: pointer;
    font-size: inherit;
}

.button-table.view {
    background-color: #dfdb00;
    border: 1mm outset #5c5a00;
}

.button-table.view:hover {
    background-color: #5c5a00;
    border: 1mm outset #dfdb00;
    color:#000000;
    text-decoration: none;
}

.button-table.add {
    background-color: #00a82a;
    border: 1mm outset #005716;
}

.button-table.add:hover {
    background-color: #005716;
    border: 1mm outset #00a82a;
    text-decoration: none;
    color:#000000;
}

/*STYLING FOR MAIN MENU */
/*Ensures buttons are in a column, not a row*/
.container-fluid.main-menu {
    flex-direction: column;
    justify-content: center;
}



#rest-of-sidebar>li.nav-item>a.nav-link {
    font-size: 60%;
}

i.nav-awesome {
    padding: 0.5rem;
}

hr.nav-hr {
    color:black;
}

#rest-of-sidebar>li.nav-item>a.nav-link:not(.display-only) {
    color:#000000;
    text-shadow: none;
    text-decoration: none;
}

#rest-of-sidebar>li.nav-item>a.nav-link:hover:not(.display-only),
#rest-of-sidebar>li.nav-item>a.nav-link.active:not(.display-only),
#rest-of-sidebar>li.nav-item>a.nav-link.display-only.active {
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
    background-color: #1b9964;
}

#collapse-sidebar:hover {
    background-color: #1b9964;
}

#collapse-sidebar:hover a, #collapse-sidebar:hover i {
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
}

#rest-of-sidebar>li.nav-item>a.nav-link.display-only {
    color:#000000;
    text-shadow: none;
    text-decoration: underline;
    font-weight:bold;
}
#rest-of-sidebar>li.nav-item>a.nav-link.display-only.status {
    color:#0000FF;
    text-shadow: none;
    text-decoration: none;
    font-weight:bolder;
    text-transform: uppercase;
}

img.item-image {
    width: auto;
    height: 15vw;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 3px -2px 9px 0px #000000;
    /*prevents image overlapping text content either side */
    overflow:auto;
    max-height:120px;
    max-width:120px;
    margin-bottom: 0.5rem;
}

.item-image-holder {
    justify-content: center;
}

.missing {
    /*missing*/
    color :#834a00; 
}

.sold {
    /*sold*/
    color : #0066ff;
}

.repair {
    /*repair*/
    color : #cedd00;
}

.scrapped, .deceased {
    /*scrap*/
    color : #000000;
    text-shadow: 0px 1px 5px #FFFFFF;
}

.status_button {
    height: auto;
    display: flex;
    width: 90%;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 9px #999999, 5px 5px 10px #393D3F;
    margin: 0.5rem auto;
    text-align: center;
    font-size: initial;
    cursor: pointer;
    text-decoration: none;
    /*stops strange sized buttons*/
    max-height: 45px;
}

.status_button.available, .status_button.current {
    color: #FFFFFF;
    background-color: #1b9964;
    border: 1mm groove #1b9964;
    text-shadow: 0px 1px 5px #000000;
}

.status_button.missing {
    color: #FFFFFF;
    background-color: #834a00;
    border: 1mm groove #834a00;
    text-shadow: 0px 1px 5px #000000;
}

.status_button.sold {
    color: #FFFFFF;
    background-color: #0066ff;
    border: 1mm groove #0066ff;
    text-shadow: 0px 1px 5px #000000;
}

.status_button.archived {
    color : #FFFFFF;
    background-color: #FF0000;
    border: 1mm groove #000000;
    text-shadow: none;
}

.status_button.scrapped, .status_button.deceased {
    color: #FFFFFF;
    background-color: #000000;
    border: 1mm groove #000000;
    text-shadow: 0px 1px 5px #FFFFFF;
}

.status_button.repair {
    color : #000000;
    background-color: #cedd00;
    border: 1mm groove #000000;
    text-shadow: none;
}

/*CRISPY FORM STYLES BOOTSTRAP 5
form>div {
    padding-left: 0;
}*/

#create-order-form {
    margin-top: 0 !important;
}

#row-order-holder {
    display:flex;
    flex-direction:row;
}

.form-control,
.form-label,
.select.form-select
.textinput.form-control,
.numberinput.form-control {
    font-size: 1.2vw;
}
.form-centre {
    margin-top: 1.3em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-centre.wide {
    width:80%;
}

form {
    margin-top: 1.3rem;
}

.form-label.black {
    color: #000000;
    text-shadow: none;
}

#customer-form {
    width: 80%;
}

#create-order-form {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.order-form-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 1rem;
}

.item-form-content,
.order-form-content {
    display: flex;
    flex-direction: row;
}

#order-form-dates {
    width: 100%;
    margin-right: 1rem;
}

#order-form-item {
    width: 100%;
    margin-right: 1rem;
    display:none;
}

#order-form-prices {
    width: 100%;
    display:none;
}

#item-type-form-costs,
#item-type-form-name {
    display: flex;
    margin-right: 1rem;
    flex-direction: column;
}


.customer-details-container {
    width:100%;
    display:flex;
    flex-direction: column;
}

.item-details-container,
.order-details-container {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.order-details-customer {
    display: flex; 
    flex-direction: column;
    width:100%;
}

.item-details-container.split,
.order-details-container.split {
    width:50%;
    display:flex;
    flex-direction: column;
    margin: 1rem;
}

.item-details-container.split-end,
.order-details-container.split-end {
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: flex-end;  
    margin: 1rem;
}

#order-button-holder {
    justify-content: center;
    width:80%;
}

#order-button-holder>div.col-3 {
    width:100%;
}

.item-details-container.split.stack {
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
}

#available-items {
    width: 100%;
    margin-top: 1.8rem;
    display:none;
}
/*
#modal-id,
#modal-date,
#modal-notes-title,
#modal-note,
#modal-amount,
#modal-text {
    color: #000000;
    text-shadow: none;
}
*/

/*
all elements where id contains "modal-" within
a div element with class "modal-content", this selector
gets all elements in the html body part of a modal window
and then formats text to black so it
can be seen on white background
*/

p[id*="modal-"],
h3[id*="modal-"],
h4[id*="modal-"] {
    color: #000000;
    text-shadow: none;
    font-size:medium;
}

#modal-id,
#modal-notes-title {
    font-weight:bold;
}

h3.modal-title {
    color: #0000FF;
    text-shadow: none;
}

.bold-warning-text {
    font-weight:bold;
    color: #FF0000;
}

#invoiceSubmit,
#invoiceCancel {
    width:40%;
}

@media only screen and (max-width: 1040px) {

    #side-navigation-bar {
        width: 280px;
    }

    .button {
        font-size: 2vw;
        width:35%;
    }
}

@media only screen and (max-width: 800px) {

    .content-holder, 
    .content-holder.centre {
        justify-content: flex-start;
    }

    #notes-list>div.table-row.table-head>* {
        display:none;
    }

    .note-row, #notes-list>div.table-row {
        font-size:small;
    }

    .table-row>.col-2 {
        width: 30%;
        justify-content: center;
    }
    .table-row>.col-9 {
        width: 60%;
        justify-content: center;
    }
    .table-row>.col-1 {
        width: 10%;
        justify-content: center;
    }
}

@media only screen and (max-width: 660px) {
    .button {
        font-size: 2.5vw;
        width:45%;
    }

    div.centre-heading>* {
        font-size:3vw;
    }

    #customer-view-data>div {
        width:100%;
    }

    div.table-row>div.col-3 {
        width:30%;
    }
    div.table-row>div.col-1 {
        width:20%;
    }
    div.table-row>div.col-5 {
        display:none;
        width:0%;
    }
    
    #paginator-page-text {
        display:none;
    }

    div.table-row {
        justify-content: center;
    }

    hr.nav-hr {
        margin: 0.2rem 0;
    }

    i.nav-awesome {
        display: none;
    }

    .note-editor.note-frame.card,
    .note-editable.card-block,
    .note-toolbar.card-header,
    .note-editing-area {
        width: 300px !important;
    }

    #row-order-holder {
        display:flex;
        flex-direction:column;
    }

    #row-order-holder>div.col-5 {
        display:flex;
        flex-direction:row;
        width:100%;
    }

    #row-order-holder>div.col-7 {
        width:100%;
    }

    .item-details-container,
    .order-details-container {
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .order-details-container.split,
    .order-details-container.split.end {
        width:100%;
    } 

    #order-button-holder {
        display:flex;
        justify-content: center;
        width:100%;

    }

    #order-button-holder>div.col-3 {
        width:100%;
    }
}

@media only screen and (max-width: 600px) {
    p,
    label,
    legend { 
        font-size:small;
    }

    #rest-of-sidebar>li.nav-item>a.nav-link>i{

        display: none;
    }

    .social-networks i {
        font-size:25px;
    }

    .note-row, #notes-list>div.table-row {
        font-size:smaller;
    }

    #orders-list>div.table-row {
        font-size: small;
    }

    #orders-list>div.table-row>div[class*="col-"]:nth-child(2),
    #orders-list>div.table-row>div[class*="col-"]:nth-child(3) {
        display:none;
        width:0%;
    }

    #orders-list>div.table-row>div[class*="col-"]:nth-child(1) {
        width: 70%;
    }

    #orders-list>div.table-row>div[class*="col-"]:nth-child(4) {
        width: 30%;
    }
}

@media only screen and (max-width: 500px) {

    #notes-list {
        width: 100%;
    }

    #notes-list>div.table-row>.col-1 {
        font-size:small;
        width:50%;
    }

    #notes-list>div.table-row>.col-9 {
        display:none;
    }

    #notes-list>div.table-row>.col-2 {
        font-size:small;
        width:50%;
    }

    #side-navigation-bar {
        width: 200px;
    }

    /*#side-navigation-bar>ul>li>a.nav-link {
        font-size: 50%;
    }*/
}

@media only screen and (max-width: 460px) {

    .container-fluid {
        flex-direction: column;
    }

    #side-navigation-bar {
        flex-direction: row !important;
        width:100%;
        height:auto;
        max-width:100%;
        margin:0;
    }

    #collapse-sidebar {
        display:flex;
    }

    .table-holder {
        padding: 0.3rem;
        width: 100%;
    }

    .nav-hr {
        display:none;
    }

    .header-menu li { 
        font-size:small;
    }
    
    .button {
        font-size: 4vw;
        width:45%;
    }
    div.table-row.table-head>* {
        display:none;
    }
    
    #customer-list>div.table-row>div[class*="col-"]:nth-child(3) {
        display:none;
    }

    #customer-list>div.table-row>div.col-3 {
        width:80%;
    }

    
    div.col-1 {
        width:20%;
    }

    .note-row, #notes-list>div.table-row {
        font-size:smallest;
    }
}

@media only screen and (max-width: 400px) {
    

    

    
}