/* Global Styling */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Hind', sans-serif;
    /* To prevent overlapping border issues!! */
    box-sizing: border-box;
}

/* Body style - z index set to be behind the main. This is due to buttons in a tags.
If the z index and position are not set, the body can be over the buttons, 
causing them not to animate on hover*/
body {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #7785AC;
    z-index:-2;
}

/* Main style which is where all content is loaded into */
main {
    width: 100%;
    background-color: #7785AC; 
    padding: 1rem 0rem;
    z-index:-1;
}

/* H TAG STYLING */
/*
h1
- different font to global
- capitalised for emphasis.
- apply shadow.
- colour white.
- 300%, largest font in this css style.
*/
h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
    font-size: 300%;
}

/* h2 & h3 tags are the same as h1 but progressively smaller */
h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
    font-size: 250%;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
    font-size: 120%;
}

/* a general css style to have centre aligned h tags */
h1.centre-heading,
h2.centre-heading,
h3.centre-heading {
    display: flex; 
    justify-content: center;
}

/* Default font for p, label and legend. Font is already created globally. Colour
and shadow are added.*/
p,
label,
legend,
li,
ol,
ul {
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
}

/*Default font for inputs and selects. Font declared globalled. Colour set to black*/
input,
select {
    margin-left: 0.5rem !important;
    color: #000000;
    box-shadow: 0px 0px 4px 0px black;

}

/*this is setting the styling for the dropdown of a select menu, so the font is 
smaller than the selected input*/
select>optgroup,
select>optgroup>option {
    margin-left: 0.5rem !important;
    font-size: 85%;
    box-shadow: 0px 0px 4px 0px black;
}

#id_remember {
    box-shadow: 0px 0px 4px 0px black;
}

#id_remember, label[for=id_remember] {
    cursor: pointer;
}

/* hr line breaks styling to make it white and have a shadow for sharpness */
hr.renterprise {
    clear: both;
    margin: 1rem 0;
    border: 3px solid white;
    border-radius: 1px;
    opacity: 1;
    box-shadow: 0px 0px 4px 0px #000000;
}

/*Animated CSS button tutorial from
https://www.w3schools.com/howto/howto_css_animate_buttons.asp */

/* BUTTON STYLING */
/*Set a default format for all buttons defined as class="button" not <button>.
- Has (multiple box shadows) to make it pop out.
- Hover darkens the button.
- Click alters the initially lighter shadow to shrink
- Click also lowers the button placement - giving a pressed look */
.button {
    height: auto;
    width: 15rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #1b9964;
    box-shadow: 0 9px #999, 5px 5px 10px #393D3F;
    text-shadow: 0px 1px 5px #000000;
    margin: 0.5rem auto;
    border: 1mm groove #1b9964;
    color: #FFFFFF;
    text-align: center;
    font-size: 180%;
    cursor: pointer;
    text-decoration: none;
}

.button.centre-align {
    display: flex; 
    justify-content: center;
}

.button.small {
    width: 8rem;
    border-radius: 0.5rem;
    background-color: #1b9964;
    box-shadow: 0 9px #999, 5px 5px 10px #393D3F;
    text-shadow: 0px 1px 5px #000000;
    margin: 0.5rem auto;
    font-size: 120%;
}

.button:hover {
    background-color: #1D5D40;
    text-decoration: none;
    color: #FFFFFF;
    border: 1mm groove #059755;
    transition: all 0.3s;
}

.button.small:hover {
    background-color: #1D5D40;
    text-decoration: none;
    color: #FFFFFF;
    border: 1mm groove #059755;
    transition: all 0.3s;
}

.button:active {
    background-color: #1D5D40;
    box-shadow: 0 5px #393D3F, 5px 5px 10px #393D3F;
    transform: translateY(4px);
    transition: all 0.2s;
}

/* HEADER STYLING */

/*Set colour theme in BG, full page width and a shadow at the bottom 
which is over the main/body as their z-indices are minus values.*/
header {
    background-color: #1D5D40;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    box-shadow: 0px 0px 3px 3px rgba(57, 61, 63, 0.8);
}

/* The "a" tag which holds the logo - 100x100px square */
header>a {
    height: 100px;
    width: 100px;
    margin-left: 3%;
}

/* Placeholder for the logo. Fixed height and width (square logo)*/
.header-logo {
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
    background-color: #1D5D40;
}

/*Styling the header menu which holds the nav buttons (across all pages)
for the user account features (login,logout,view)*/
.header-menu {
    display: flex;
    clear: both;
    width: 90%;
    font-size: 150%;
    text-shadow: 0px 1px 5px #000000;
    justify-content: flex-end;
}

.navigation-list {  
    margin: auto 3rem auto 0;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

/*Hidden burger button, which is actually a hidden checkbox.*/
.burger-btn {
    display: none;
}

/*This is a label which is what the user interacts with. Default invisible, 
made visible at a particular screen width resolution in media queries*/
.burger-icon {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px;
    user-select: none;
    visibility: hidden;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 100%;
}

/*turn blue when hovering over the burger menu icon*/
.burger-icon:hover {
    color: #C9F0FF;
}

/*Styling each link in the header menu (each list item). 
 List style type:none means that no bullet points are made.*/
 .header-menu li {
    font-family: 'Hind', sans-serif;
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

/* each <a> (link) within the nav menu has no purple overlay when previously
 clicked (text-decoration) text is white */
.header-menu a {
    text-decoration: none;
    color: #FFFFFF;
}

/* when a header-menu link is hovered, it goes a light blue to signify where 
 the intended click in the menu is */
.header-menu a:hover {
    color: #C9F0FF;
}

/* on each page, there is a selected header-menu item. This item is underlined
 on its respective page */
a.active {
    border-bottom: 1px solid #FFFFFF;
}

a.link {
    color: #2cfd9e;
    text-decoration:none;
}

a.link:hover {
    color:inherit;
    text-decoration:underline;
}

/* Footer styling */
/*Full page width, fixed 100px height (height matches header). Flex row display
with centred content and the background colour in line with the theme top shadow 
to help content pop*/
footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1D5D40;
    box-shadow: 0px -3px 1px 0px rgba(57, 61, 63, 0.8);
}

/* social-networks ul css set the text to be centre aligned in a flex row 
with centred items*/
ul.social-networks {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/*Each list item of the social networks unorganised list carries the flex 
display has padding (from top and bottom of social networks class, which is the
height of the footer*/
.social-networks>li {
    display: flex;
    padding: 25px;
}

/*styling for the font awesome "i" tags, setting text field size, font colour
line height to create a centring effect*/
.social-networks i {
    font-size: 200%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px #000000;
}

/*When hovering the social media icons, turn them the light blue which is part
of the theme.*/
.social-networks i:hover {
    color: #C9F0FF;
}

/* FORM WARNING RESTYLE FROM ALLAUTH */
.errorlist {
    color: red;
    font-weight:bold;
    background: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px 0 red;
}

.errorlist>li {
    color: red;
    background: #FFFFFF;
    text-shadow:none;
}

.row { 
    justify-content: center !important;
}