{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load i18n %}
{% block head_title %}
    {% trans "Create New Customer" %}
{% endblock head_title %}
{% block content %}
    <!-- the content to enter into the "main" class on the "base.html"-->
    <div class="container-fluid">
        {% include "side-nav.html" %}
        {% if user.is_authenticated %}
            <div class="content-holder centre">
                <h2>Create A New Customer</h2>
                <hr class="renterprise">
                <form id="customer_form" method="post">
                    {% crispy customer_form %}
                    {% csrf_token %}
                </form>
            </div>
        {% else %}
            <div class="content-holder centre">
                <div class="row wd-60">
                    {% blocktrans %}
                        <p>You need to be logged in to access the program.</p>
                        <p>Log in to continue using this application.</p>
                    {% endblocktrans %}
                    <a class="button" href="{{ login_url }}">Log In</a>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- index.html content ends here -->
{% endblock content %}
