{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "View Customer Details" %}{% endblock %}
{% block content %}

<!-- the content to enter into the "main" class on the "base.html"-->
<div class="container-fluid" style="height: 100%; width:100%;">
    {% include 'side-nav.html' %}
    {% if user.is_authenticated %}
    <div class="content-holder">
        <p style="display:none;"> {{ customer.customer_token }} </p>
        <div class="row">
            <div class="col-4">
                <h2>{{ customer.full_name }}</h2>
            </div>
            <div class="col-4">
                {% if customer.customer_css_status == "deceased" %}
                <h2 class="{{ customer.customer_css_status }}">{{ item.status_str }}</h2>
                {% else %}
                <h2></h2>
                {% endif %}
            </div>
            <div class="col-4">
                <p>Created On : {{ customer.created_on }}</p>
            </div>
        </div>
        <div class="row">
            <hr class="renterprise">
        </div>
        <div class="customer_details_container">
            <h2>Address :</h2>
            <div class="row">
                <p>{{ customer.address_line_one }}</p>
            </div>
            {% if customer.address_line_two %}
            <div class="row">
                <p>{{ customer.address_line_two }}</p>
            </div>
            {% endif %}
            {% if customer.address_line_three %}
            <div class="row">
                <p>{{ customer.address_line_three }}</p>
            </div>
            {% endif %}
            <div class="row">
                <p>{{ customer.address_line_town }}</p>
            </div>
            <div class="row">
                <p>{{ customer.address_line_county }}</p>
            </div>
            <div class="row">
                <p>{{ customer.postcode }}</p>
            </div>
        </div>
        <div class="row">
            <hr class="renterprise">
        </div>
        <div class="row">
            <div class="col-4">
                <a class="button centre-align" href="{% url 'customers:customer_notes_list' customer.customer_token %}">Customer Notes</a>
            </div>
            <div class="col-4">
                <a class="button centre-align" href="{% url 'customers:customer_list' %}">Return To List</a>
            </div>
            <div class="col-4">
                <a class="button centre-align" href="{% url 'orders:order_create' customer.customer_token %}">New Order</a>
            </div>
        </div>
        {% else %}
        <div class="content-holder">
            <div class="row" style="width: 20%;">
                {% blocktrans %}
                <p>You need to be logged in to access the program.</p>
                <p>Log in to continue using this application.</p>
                {% endblocktrans %}
                <a class="button small" href="{{ login_url }}">Log In</a>
            </div>
        </div>
        {% endif %}
    </div>
    
	
</div>

<!-- index.html content ends here -->
{% endblock %}