{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}{% trans "Customer Listing" %}{% endblock %}

{% block content %}
<!-- the content to enter into the "main" class on the "base.html"-->
<div class="container-fluid" style="height: 100%; ">
    {% include 'side-nav.html' %}
    {% if user.is_authenticated %}
    <div class="table-holder">
        <div class="table-row table-head">
            <div class="col-3">
                Name
            </div>
            <div class="col-5">
                Address
            </div>
            <div class="col-3">
                Postcode
            </div>
            <div class="col-1">
            </div>
        </div>
        {% for customer in customer_list %}
        <div class="table-row {{ customer.customer_css_status }}">
            <div class="col-3">{{ customer.full_name }}</div>
            <div class="col-5">{{ customer.address_line_one }}</div>
            <div class="col-3">{{ customer.postcode }}</div>
            <div class="col-1"><a class="button-table view" href="{% url 'customers:customer_view' customer.customer_token %}"><i class="fa-solid fa-magnifying-glass"></i></a></div>
        </div>
        {% endfor %}
        {% include 'paginate.html' %}
    </div>
    {% else %}
    <div class="content-holder centre">
        <div class="row" style="width: 20%;">
            {% blocktrans %}
            <p>You need to be logged in to access the program.</p>
            <p>Log in to continue using this application.</p>
            {% endblocktrans %}
            <a class="button" href="{{ login_url }}">Log In</a>
        </div>
    </div>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}