{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}{% trans "Customer Listing" %}{% endblock %}

{% block content %}
<!-- the content to enter into the "main" class on the "base.html"-->
<div class="container-fluid" style="height: 100%; ">
    <!-- jQuery is at the bottom of base.html -->
    {% include 'side-nav.html' %}
    {% if user.is_authenticated %}
    <div class="table-holder">
        <div class="table-row table-head">
            <div class="col-3">
                Name
            </div>
            <div class="col-6">
                Address
            </div>
            <div class="col-2">
                Postcode
            </div>
            <div class="col-1">
            </div>
        </div>
        {% for item in item_list %}
        <div class="table-row {{ customer.customer_css_status }}">
            <div class="col-3">{{ customer.full_name }}</div>
            <div class="col-6">{{ item.address }}</div>
            <div class="col-2">{{ item.postcode }}</div>
            <div class="col-1"><a class="button-table-view" href="{% url 'customers:customer_view' customer.customer_token%}"><i class="fa-solid fa-magnifying-glass"></i></a></div>
        </div>
        {% endfor %}
        {% include 'paginate.html' %}
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            {% blocktrans %}
            <p>You need to be logged in to access the program.</p>
            <p>Log in to continue using this application.</p>
            {% endblocktrans %}
            <a class="button small" href="{{ login_url }}">{% trans "Log In" %}</a>
        </div>
    </div>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}