{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}
    {% trans "Add An Order Note" %}
{% endblock head_title %}
{% block content %}
    <!-- the content to enter into the "main" class on the "base.html"-->
    <div class="container-fluid">
        {% include "side-nav.html" %}
        {% if user.is_authenticated %}
            <div class="content-holder centre">
                <h2>Add An Order Note To Order : {{ customer_order_id }}</h2>
                <hr class="renterprise">
                <form id="add-order-note-form" method="post" class="note-form">
                    {{ order_note_form | crispy }}
                    {% csrf_token %}
                    <div class="row">
                        <button id="submitButton" type="submit" class="button centre-align">Submit</button>
                        <a class="button centre-align"
                           href="{% url 'customers:order_notes_list' customer_token=customer_token_value order_id=customer_order_id %}">Return To Order Notes </a>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="content-holder centre">
                <div class="row wd-60">
                    {% blocktrans %}
                        <p>You need to be logged in to access the program.</p>
                        <p>Log in to continue using this application.</p>
                    {% endblocktrans %}
                    <a class="button" href="{{ login_url }}">Log In</a>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- index.html content ends here -->
{% endblock content %}
