{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}{% trans "Create New Customer" %}{% endblock %}

{% block content %}

<!-- the content to enter into the "main" class on the "base.html"-->
<div class="container-fluid" style="height: 100%; width:100%;">
    {% include 'side-nav.html' %}
    {% if user.is_authenticated %}
    <div class="content-holder">
        {% block crispy_content %}
            {% crispy form %}
        {% endblock %}
    </div>
    {% endif %}
</div>
        
<!-- index.html content ends here -->
{% endblock %}
