{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}{% trans "Add New Customer Note" %}{% endblock %}

{% block content %}

<!-- the content to enter into the "main" class on the "base.html"-->
<div class="container-fluid" style="height: 100%; width:100%;">
    {% include 'side-nav.html' %}
    {% if user.is_authenticated %}
        <div class="content-holder">
        {% if perms.customer.customer_note %}
            <h2>View/Edit a customer note :</h2>
            <hr class="renterprise">
            <form id="updateNoteForm" method="post"
                style="margin-top: 1.3em;
                display: flex;
                flex-direction: column;
                align-items: center;">
                {{ customer_note_form | crispy }}
                {% csrf_token %}
                <div class="row" 
                style="flex-wrap: nowrap;
                justify-content: center;">
                    <a class="button centre-align" href="{{request.META.HTTP_REFERER|escape}}">Return To Notes</a>
                    <button id="submitButton" type="submit"
                        class="button centre-align">Update</button>
                </div>
            </form>
        </div>
        {% else %}
            <p> Please log in as a user with change permissions.</p>
            <a class="button small centre-align" href="{{request.META.HTTP_REFERER|escape}}">Return</a>
        {% endif %}
    {% else %}
        <div class="row">
            <div class="col-12">
                {% blocktrans %}
                <p>You need to be logged in to access the program.</p>
                <p>Log in to continue using this application.</p>
                {% endblocktrans %}
                <a class="button small centre-align" href="{{ login_url }}">{% trans "Log In" %}</a>
            </div>
        </div>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}
