{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}{% trans "Add New Customer Note" %}{% endblock %}

{% block content %}

<!-- the content to enter into the "main" class on the "base.html"-->
<div class="container-fluid" style="height: 100%; width:100%;">
    {% include 'side-nav.html' %}
    {% if user.is_authenticated %}
    <div class="content-holder">
        <h2>Add a customer note :</h2>
        <hr class="renterprise">
        <form id="addNoteForm" method="post"
            style="margin-top: 1.3em;">
            {{ customer_note_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit"
                class="button centre-align">Submit</button>
        </form>
    </div>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}
