{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "View Customer Notes" %}{% endblock %}
{% block content %}

<div class="container-fluid" style="height: 100%; width:100%;">
    {% include 'side-nav.html' %}
    {% if user.is_authenticated %}
    <div class="table-holder">
        <div class="centre-heading" style="width:100%;">
            <h2> View All Customer Notes For {{ full_name }} </h2>
            <hr class="renterprise" style="width:80%;">
        </div>
        {% for note in note_list %}
            {% if forloop.first %}
            <div class="table-row table-head">
                <div class="col-3">
                    Date
                </div>
                <div class="col-8">
                </div>
                <div class="col-1">
                    <a class="button-table add" href="{% url 'customers:customer_add_notes' customer_token_value %}"><i class="fa-solid fa-comment-medical"></i></a>
                </div>
            </div>
            {% endif %}
        <div class="table-row ">
            <div class="col-3">{{ note.created_on_by }}</div>
            <div class="col-8 note-row" >{{ note.note|safe }}</div>
            {% if perms.customer.customer_note %}
                <div class="col-1"><a class="button-table view" href="{% url 'customers:customer_view_notes' customer_token=customer_token_value id=note.id %}"><i class="fa-solid fa-magnifying-glass"></i></a></div>
            {% else %}
                <div class="col-1"></div>
            {% endif %}
        </div>
        {% endfor %}
        {% include 'paginate.html' %}
        <div class="row">
            <a class="button centre-align" href="{% url 'customers:customer_view' customer_token_value %}">Return To Customer</a>
        </div>
    </div>
    
    
    {% else %}
    <div class="content-holder centre">
        <div class="row" style="width: 60%;">
            {% blocktrans %}
            <p>You need to be logged in to access the program.</p>
            <p>Log in to continue using this application.</p>
            {% endblocktrans %}
            <a class="button" href="{{ login_url }}">Log In</a>
        </div>
    </div>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}
