{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}{% trans "View Order Note" %}{% endblock %}

{% block content %}

<!-- the content to enter into the "main" class on the "base.html"-->
<div class="container-fluid" style="height: 100%; width:100%;">
    {% include 'side-nav.html' %}
    {% if user.is_authenticated %}
        <div class="content-holder">
        {% if perms.order.order_note %}
            <h2>View/Edit an order note :</h2>
            <hr class="renterprise">
            <form id="updateNoteForm" method="post"
                style="margin-top: 1.3em;
                display: flex;
                flex-direction: column;">
                {{ order_note_form | crispy }}
                {% csrf_token %}
                <div class="row">
                    <div class="col-2">
                        <a class="button centre-align" href="{% url 'customers:order_notes_list' customer_token=customer_token_value order_id=customer_order_id %}">Return To Notes</a>
                    </div>
                    <div class="col-2">
                        <button id="submitButton" type="submit" class="button centre-align">Update</button>
                    </div>
                </div>
            </form>
        </div>
        {% else %}
            <p> Please log in as a user with change permissions.</p>
            <a class="button small centre-align" href="{{request.META.HTTP_REFERER|escape}}">Return</a>
        {% endif %}
        {% else %}
        <div class="content-holder centre">
            <div class="row" style="width: 20%;">
                {% blocktrans %}
                <p>You need to be logged in to access the program.</p>
                <p>Log in to continue using this application.</p>
                {% endblocktrans %}
                <a class="button" href="{{ login_url }}">Log In</a>
            </div>
        </div>
        {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}
