{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load i18n %}

{% if user.is_authenticated %}
<div class="modal-header">
    <h3 class="modal-title invoice" id="modalLabel">Create New Invoice</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div id="modalBody" class="modal-body">
    <form id="invoice_form" method="post">
        {% crispy invoice_form %}
        {% csrf_token %}
    </form> 
{% else %}
<div class="modal-header">
    <h3 class="modal-title invoice" id="modalLabel">Not Authorised</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div id="modalBody" class="modal-body">
    <div class="row" style="width: 90%;">
        {% blocktrans %}
        <p style="color:black">You need to be logged in to access the program.</p>
        <p style="color:black">Log in to continue using this application.</p>
        {% endblocktrans %}
        <a class="button" href="{{ login_url }}">Log In</a>
    </div>
{% endif %}
</div>
<div class="modal-footer" style="justify-content:space-between;">
    <a id="invoiceCancel" href="" class="btn btn-danger"
        data-bs-dismiss="modal"><i class="fa-regular fa-circle-xmark"></i> Cancel</a>
    <a id="invoiceConfirm" href="" class="btn
        btn-success"><i class="fa-solid fa-sterling-sign"></i> Change</a>
</div>